/.idea
/target/classes/Goroscop
/target/classes/duscriminant/duscriminant.class
/target/surefire-reports/Suite1/classes.html
/target/surefire-reports/Suite1/groups.html
/target/surefire-reports/Suite1/index.html
/target/surefire-reports/Suite1/main.html
/target/surefire-reports/Suite1/methods-alphabetical.html
/target/surefire-reports/Suite1/methods-not-run.html
/target/surefire-reports/Suite1/methods.html
/target/surefire-reports/Suite1/reporter-output.html
/target/surefire-reports/Suite1/smokeTest.html
/target/surefire-reports/Suite1/smokeTest.properties
/target/surefire-reports/Suite1/smokeTest.xml
/target/surefire-reports/Suite1/testng-failed.xml
/target/surefire-reports/Suite1/testng.xml.html
/target/surefire-reports/Suite1/toc.html
/target/surefire-reports/TEST-TestSuite.xml
/target/surefire-reports/TestSuite.txt
/target/surefire-reports/emailable-report.html
/target/surefire-reports/index.html
/target/surefire-reports/junitreports/TEST-testng.SmokeTest.xml
/target/surefire-reports/testng-failed.xml
/target/surefire-reports/testng-results.xml
/target/surefire-reports/testng.css
/target/test-classes/testng/SmokeTest.class
/target/test-classes/testng.xml
/*.iml
