<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Test1" >
        <classes>
            <class name="testng.StringLength" />
        </classes>
    </test>

    <test name="Test2" >
        <classes>
            <class name="testng.SmokeTest" />
        </classes>
    </test>

    <test name="Test3" >
        <classes>
            <class name="testng.BuySmartphone" />
        </classes>
    </test>

    <test name="Test4" >
        <classes>
            <class name="testng.LaptopFilter" />
        </classes>
    </test>
</suite>